*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*FONT REGULAR DEFAULT*/
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  a{
    color: white;
    text-decoration: none;
  }
  